# Server Configuration
PORT=# Server Configuration
PORT=5000
NODE_ENV=development



# MongoDB Configuration
MONGODB_URI=mongodb+srv://sibo:edouard@edouard.xgtauv0.mongodb.net/TODO


# JWT Configuration
JWT_SECRET=nLWZI4s6chGJHfQQYpmwrh2/50CCA5XIE6S3YJqZ1ho=

# LinkedIn OAuth Configuration
LINKEDIN_CLIENT_ID=77vmy26ibt87m0
LINKEDIN_CLIENT_SECRET=WPL_AP1.pXkUcEDsISUV9PRi.Bcr7og==
LINKEDIN_CALLBACK_URL=https://profile-verification-backend.vercel.app/api/v1/auth/linkedin/callback

# Frontend URL
FRONTEND_URL=http://localhost:3000

# File Upload Limits
MAX_FILE_SIZE=5242880 # This is  5MB in bytes
